.vs
Debug
Release/.NETFramework,Version=v4.0.AssemblyAttributes.asm
Release/.NETFramework,Version=v4.0.AssemblyAttributes.obj
Release/app.res
Release/AssemblyInfo.obj
Release/logic.obj
Release/stdafx.obj
Release/vc141.pdb
Release/VM167.exe
Release/VM167.exe.metagen
Release/VM167.ini
Release/VM167.pch
Release/VM167.pdb
Release/VM167.tlog
Release/VM167*.log
Release/VM167Demo.Form1.resources
Release/VM167Demo.log
Release/VM167Demo.obj
Release/VM167Demo.vcxproj.GenerateResource.cache
Release/VM167Demo.vcxprojAssemblyReference.cache
VM167.ini
VM167*.log
VM167Demo.suo
VM167Demo.vcproj.Asentaja-PC.Asentaja.user
VM167Demo.vcxproj.user
